article > hr{
    width:100%;
    height: 7px;
    /* color:#C57642; */
    background: linear-gradient(to right, rgba(71, 207, 17, 0.322),rgb(71, 207, 17),rgba(71, 207, 17, 0.322));
    border:0;
}
footer{
    width: 100%;
    min-height:450px;
    max-width:1920px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: url("../img/bg-bodyFooter.jpg");
    flex-direction: column;
}
footer > div{
    width:100%;
    max-width:1200px;
    min-height:294px;
    display:flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap:wrap;
}
footer > div > div{
    display:flex;
    justify-content: space-around;
    min-height:200px;
    align-items: center;
    flex-direction: column;
    color:white;
}
footer > div > div:nth-child(1){
    width:100%;
    max-width:328px;
    display:flex;

    flex-direction: column;
}
footer > div > div > strong{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1;
}
footer > div > div:nth-child(1) > strong > span:nth-child(1){
    color:var(--main-color);
    font-size:33px;
}
footer > div > div:nth-child(1) > strong > span:nth-child(2){
    color:white;
    font-size:37px;
}
footer > div > div > ul > li{
    list-style-type: none;
}
footer > div > div{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
footer > div > div > li{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    /* flex-direction: column; */
}
footer > div > div > li > img{
    margin-right:17px;
}
footer > div > div > li{
    list-style-type:none;
}

footer > section{
    background-color: #272727;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    color:white;
    min-height: 70px;
}
footer > section > strong{
    margin-left: 30px;
    margin-right:30px;
}
body > main > footer > div > div > p{
    text-shadow:1px 1px black;
}
body > main > footer > div > div > li > a{
    text-shadow:1px 1px black;
    color:white;
    text-decoration: none;
}
body > main > article > footer > div > div > ul > li > a{
    color:white;
    text-decoration:none;
    text-shadow:1px 1px black;
}
body > main > article > footer > div > div > ul > li > a:hover{
    color:var(--green-color);
}
body > main > article > footer > div > div > p{
    text-shadow:1px 1px black;
}
footer > div > div > strong > span:nth-child(2) > a{
    color:white;
    text-decoration: none;
    text-shadow:1px 1px black;
}