nav > div > span{
    width:70px;
    height:3px;
    background-color: black;
    display:block;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
}
nav > div{
    height:70px;
    display:grid;
    justify-content: space-around;
    align-items: center;
}

.openMenu{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:0px;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(157, 78, 189);
    transition: all ease-out 1s;
    font-size:0;
    flex-direction: column;
    opacity:0;
}

.openMenu > h3 > a{
    color:rgb(100, 221, 76);
    text-shadow:black 3px 3px;
    text-decoration: none;
}
.openMenu > h3 > a:hover{
    color:coral;
}
@media(min-width:1700px){
    #menu{
        display:none;
    }
}
@media(max-width:1700px){

    body > main > header > nav > strong > ul{
        display:none;
    }
}

#menu > span{
    width:70px;
    height:3px;
    background-color:var(--main-color);
    display:block;
}
#menu > span:nth-child(2){
    margin-top:15px;
    margin-bottom:15px;
}