*{
    margin:0;
    padding:0;
}
body{
    background:linear-gradient(rgb(255, 255, 179), rgb(175, 175, 255));
}
main{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:900px;
}
article{
    width:100%;
    
}
article > h1{
    color:coral;
    text-shadow:black 2px 2px;
}
article > ul,ol > li{
    margin-left:37px;
}
article > picture > img{
    width:100%;
    max-width:900px;
    border-radius: 7px;
}
article > section > button{
    width:170px;
    height:170px;
    border-radius: 50%;
    font-size: 33px;
    background-color: coral;
    color:white;
    text-shadow:black 2px 2px;
    transition:all ease 1s;
}
article > section > button:hover{
    color:yellow;
    background-color: rgb(29, 29, 29);
}

body > main > article > h2:nth-child(7){
    color:rgb(255, 248, 147);
    text-shadow:2px 2px black;
}
article > section{
    width:100%;
    text-align: center;
}